<% @tasks.each do |task| %>
  <h2><%= link_to "Edit", edit_path(task[:id]) %><%= task.title %><%= link_to "Delete", task_path(task[:id]),
      method: :delete,
      data: { confirm: "Are you sure?" } %></h2>
  <p><%= task.details %></p>
<% end %>
<%= link_to "Add a task", tasks_new_path %>

